<form [formGroup]="form">
  <h2 style="justify-content: center;align-items: center; padding: 10px;">Registration Form</h2>
  
  <div class="flex flex-col px-3">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstname" placeholder="First Name" required>
      <mat-error *ngIf="form.get('firstname')?.hasError('required')">First Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastname" placeholder="Last Name">
      <mat-error *ngIf="form.get('lastname')?.hasError('required')">Last Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Username">
      <mat-error *ngIf="form.get('username')?.hasError('required')">Username is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email">
      <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">Invalid email format</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('gender')?.hasError('required')">Gender is required</mat-error>
    </mat-form-field>
  </div>
</form>
<div  class="px-3"  >
  <!-- style="height: 30px; width: 60px;background-color:rgb(19, 19, 189) ;color: white;"  -->
<button mat-raised-button color="primary" (click)="onSaveUser(form)">Save</button>
<button mat-raised-button  color="warn" (click)="dialogRef.close()">Cancel</button>
</div>
